body
  +reg

img 
  max-width: 100%    
  
.container
  width: 1170px
  margin: auto

@media ( max-width: 1200px )
  .container
    max-width: 992px
@media (max-width: 1022px )
  .container
    max-width: 768px
@media (max-width: 798px )
  .container
    max-width: 576px
@media ( max-width: 606px )
  .container
    max-width: 420px
@media ( max-width: 450px )
  .container
    width: 278px
  
.button
  border-radius: 10px
  background-color: $mail-color
  border: none 
  padding: 17px 29px
  font-size: 13px