*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  +reg  
  color: $text-color

a
  text-decoration: none
  color: $text-color

img 
  max-width: 100%    
  
.container
  width: 1170px
  margin: auto

@media ( max-width: 1200px )
  .container
    max-width: 992px
@media (max-width: 1022px )
  .container
    max-width: 768px
@media (max-width: 798px )
  .container
    max-width: 576px
@media ( max-width: 606px )
  .container
    max-width: 420px
@media ( max-width: 450px )
  .container
    width: 278px

.section
  &-title
    font-size: 30px
    line-height: 45px
    +bold 
    text-align: center    
  
.button
  border-radius: 10px
  background-color: $main-color
  border: none 
  padding: 17px 29px
  font-size: 13px
  outline: none
  &:hover
    cursor: pointer
    background-color: lighten($main-color, 10%)
  &:focus
    outline: none
    background-color: darken($main-color, 10%)  

.input
  box-sizing: border-box
  border-radius: 10px
  border: 1px solid #dddddd
  color: $input_text-color
  font-size: 15px
  line-height: 24px
  &:focus
    border: 1px solid darken(#ffd200, 10% )
    outline: none

.arrow
  &:hover
    cursor: pointer 

.close
  width: 10px
  height: 10px

.slick-slide 
  outline: none    


