@charset "UTF-8";
@font-face {
  font-family: "Museo Sans 300";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Museo Sans 700";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Museo Sans 300", sans-serif;
  font-weight: 400;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 1022px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 798px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 606px) {
  .container {
    max-width: 420px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 278px;
  }
}

.section-title {
  font-size: 30px;
  line-height: 45px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  text-align: center;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 17px 29px;
  font-size: 13px;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #ffdb33;
}

.button:focus {
  outline: none;
  background-color: #cca800;
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #dddddd;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
}

.input:focus {
  border: 1px solid #cca800;
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}

.close {
  width: 10px;
  height: 10px;
}

.slick-slide {
  outline: none;
}

/* ================================================== */
/* Шапка */
.navbar {
  padding: 5px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  margin-left: 32px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.navbar__address {
  font-size: 13px;
  margin-bottom: 6px;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

@media (max-width: 798px) {
  .navbar {
    padding: 15px 0 16px 0;
  }
  .navbar-block {
    padding: 0 3px 0 0;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 14px 24px;
    margin-left: 49px;
    border-radius: 5px;
  }
  .navbar__logo {
    width: 91px;
  }
}

/* ===================================================== */
/* Hero */
.hero {
  background-color: #f5f5f5;
  padding: 50px 0px 52px 0px;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  color: #333333;
  width: 50%;
}

.hero-text__title {
  font-size: 40px;
  line-height: 55px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: block;
  font-size: 20px;
  margin-bottom: 67px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 25px;
  width: 40%;
}

.hero-image {
  width: 48%;
  max-height: 488px;
}

.hero-image img {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1022px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text {
    width: 100%;
  }
  .hero-image {
    margin-top: 25px;
    width: 100%;
  }
}

@media (max-width: 798px) {
  .hero {
    padding: 42px 0;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text {
    width: 100%;
    line-height: 1.4;
  }
  .hero-text__title {
    margin: 0 0 6px 0;
    font-size: 24px;
    line-height: 1.2;
    padding-left: 2px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    line-height: 1.2;
    padding-left: 4px;
    width: 90%;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__item:last-child {
    margin-bottom: 0;
  }
  .hero-list__icon {
    margin-right: 16px;
  }
  .hero-list__text {
    width: 75%;
    font-size: 12px;
    line-height: 1.4;
  }
  .hero-image {
    width: 100%;
    margin-top: 38px;
  }
}

/* ======================================================= */
/* Offer */
.offer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/offer/offer_bg.jpg) no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.offer-block {
  padding: 80px 91px 94px 0;
  background-color: #fff;
  position: relative;
  width: 50%;
}

.offer__title {
  width: 70%;
  font-size: 24px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.offer-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.offer-form__title {
  display: block;
  width: 50%;
  font-size: 16px;
}

.offer-form__inputs {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-form__input {
  width: 240px;
  padding: 20px 24px;
  margin-bottom: 31px;
}

.offer-form__input:first-child {
  margin-right: 14px;
}

.offer-form__input:last-child {
  padding-left: 31px;
}

.offer-form__button {
  width: 100%;
  margin-bottom: 28px;
  font-size: 16px;
  padding: 25px 0;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.offer-info__item {
  width: 46%;
}

.offer-info__item:last-child {
  padding-left: 29px;
}

.offer-info__text {
  width: 100%;
}

.offer-info__phone {
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .offer-block {
    padding: 60px 91px 60px 0;
  }
  .offer__title {
    width: 100%;
  }
  .offer-form__title {
    width: 100%;
  }
  .offer-form__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-form__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer-form__input:last-child {
    padding-left: 23px;
  }
  .offer-form__button {
    font-size: 13px;
  }
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-info__item {
    width: 100%;
  }
  .offer-info__item:last-child {
    padding-left: 0px;
  }
}

@media (max-width: 1022px) {
  .offer-block {
    padding: 30px 30px 30px 0;
  }
  .offer__title {
    line-height: 30px;
    margin-bottom: 10px;
  }
  .offer-form {
    width: 90%;
  }
  .offer-form__inputs {
    margin-top: 10px;
  }
  .offer-form__title {
    width: 100%;
  }
  .offer-form__button {
    margin-bottom: 10px;
  }
}

@media (max-width: 798px) {
  .offer {
    background: #fff;
  }
  .offer__title {
    font-size: 18px;
    line-height: 1.2;
    padding-right: 5px;
    margin-bottom: 16px;
  }
  .offer-block {
    width: 70%;
    padding: 54px 0px 94px 0;
    margin: auto;
  }
  .offer-form__title {
    font-size: 14px;
  }
  .offer-form__input {
    margin-bottom: 8px;
  }
  .offer-form__button {
    padding: 20px 40px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .offer-info__text {
    width: 90%;
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .offer-block {
    width: 100%;
    padding: 48px 0px 38px 0;
  }
  .offer-form {
    width: 99%;
  }
  .offer-form__title {
    margin-bottom: 28px;
  }
  .offer-info {
    width: 94%;
  }
  .offer-info__item {
    width: 97%;
  }
}

/* =========================================================== */
/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  color: #333333;
  position: relative;
  margin: auto;
  max-width: 570px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 80px 100px 76px 100px;
}

.modal-dialog__title {
  text-align: center;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 52px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.modal-dialog__close:hover {
  cursor: pointer;
  background-color: #ffdb33;
  outline: none;
  border: 1px solid #cca800;
}

.modal-form__subtitle {
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 53px;
}

.modal-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__input {
  padding: 26px;
}

.modal-form__input:first-child {
  margin-bottom: 15px;
}

.modal-form__input:last-child {
  margin-bottom: 30px;
}

.modal-form__button {
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  padding: 28px;
  margin-bottom: 33px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.modal-info__text {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 13px;
}

.modal-info__phone {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

@media (max-width: 798px) {
  .modal-dialog {
    padding: 20px 15px;
    width: 50%;
  }
  .modal-dialog__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .modal-form__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .modal-form__input {
    padding: 10px;
    font-size: 10px;
  }
  .modal-form__input:first-child {
    margin-bottom: 10px;
  }
  .modal-form__input:last-child {
    margin-bottom: 15px;
  }
  .modal-form__button {
    padding: 12px;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .modal-info__text {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 5px;
    width: 70%;
  }
  .modal-info__phone {
    font-size: 14px;
  }
}

@media (max-width: 620px) and (orientation: landscape) {
  .modal-dialog {
    padding: 30px 30px;
    width: 80%;
  }
  .modal-dialog__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .modal-form__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .modal-form__input {
    padding: 10px;
    font-size: 10px;
  }
  .modal-form__input:first-child {
    margin-bottom: 5px;
  }
  .modal-form__input:last-child {
    margin-bottom: 5px;
  }
  .modal-form__button {
    padding: 12px;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .modal-info__text {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 5px;
    width: 70%;
  }
  .modal-info__phone {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .modal-dialog {
    padding: 20px 15px;
    width: 80%;
  }
  .modal-dialog__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .modal-form__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .modal-form__input {
    padding: 10px;
    font-size: 10px;
  }
  .modal-form__input:first-child {
    margin-bottom: 10px;
  }
  .modal-form__input:last-child {
    margin-bottom: 15px;
  }
  .modal-form__button {
    padding: 12px;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .modal-info__text {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 5px;
    width: 70%;
  }
  .modal-info__phone {
    font-size: 14px;
  }
}

/* =========================================================== */
/* Кнопка вверх */
#button-up {
  display: inline-block;
  background-color: #ffd200;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-up:hover {
  cursor: pointer;
  background-color: #ffdb33;
}

#button-up:active {
  background-color: #cca800;
}

#button-up.show {
  opacity: 1;
  visibility: visible;
}

#button-up::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

/* =========================================================== */
/* Портфолио слайдер */
.portfolio {
  padding: 85px 0;
  background: #f5f5f5 url("../img/portfolio/portfolio_pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 75%;
  margin: auto;
  margin-bottom: 91px;
}

.portfolio-slider {
  margin: auto;
}

.portfolio__image {
  margin: auto;
  outline: none;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .portfolio__title {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .slick-slide img {
    width: 95%;
  }
}

@media (max-width: 798px) {
  .portfolio {
    padding: 42px 0;
  }
  .portfolio__title {
    max-width: 75%;
    font-size: 18px;
    line-height: 1.2;
    padding-right: 5px;
    margin-bottom: 16px;
  }
}

@media (max-width: 450px) {
  .portfolio {
    background: #f5f5f5;
    padding: 41px 25px 57px 25px;
  }
  .portfolio__title {
    margin: 0;
    padding: 0;
    max-width: 271px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .portfolio-slider {
    max-height: 186px;
  }
  .portfolio__image {
    max-height: 186px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
}
/*# sourceMappingURL=style.css.map */