@charset "UTF-8";
@font-face {
  font-family: "Museo Sans 300";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Museo Sans 700";
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Museo Sans 300", sans-serif;
  font-weight: 400;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input.invalid {
  display: block;
  border: 1px solid red;
}

input.invalid:focus {
  border: 1px solid red;
}

label.invalid {
  position: absolute;
  bottom: -12px;
  width: 100%;
  display: block;
  text-align: left;
  font-size: 12px;
  color: red;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 1022px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 798px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 606px) {
  .container {
    max-width: 420px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 278px;
  }
}

.section-title {
  font-size: 30px;
  line-height: 45px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: 20px;
  line-height: 45px;
  font-family: "Museo Sans 300", sans-serif;
  font-weight: 400;
  text-align: center;
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 17px 29px;
  font-size: 13px;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #ffdb33;
}

.button:focus {
  outline: none;
  background-color: #cca800;
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #dddddd;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  padding: 20px 24px;
}

.input:focus {
  border: 1px solid #cca800;
  outline: none;
}

.arrow:hover {
  cursor: pointer;
}

.close {
  width: 10px;
  height: 10px;
}

.slick-slide {
  outline: none;
}

/* ================================================== */
/* Шапка */
.navbar {
  padding: 5px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__button {
  color: #333333;
  margin-left: 32px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.navbar__address {
  font-size: 13px;
  margin-bottom: 6px;
}

.navbar__phone {
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

@media (max-width: 798px) {
  .navbar {
    padding: 15px 0 16px 0;
  }
  .navbar-block {
    padding: 0 3px 0 0;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 14px 24px;
    margin-left: 49px;
    border-radius: 5px;
  }
  .navbar__logo {
    width: 91px;
  }
}

/* ===================================================== */
/* Hero */
.hero {
  background-color: #f5f5f5;
  padding: 50px 0px 52px 0px;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  color: #333333;
  width: 50%;
}

.hero-text__title {
  font-size: 40px;
  line-height: 55px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: block;
  font-size: 20px;
  margin-bottom: 67px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 25px;
  width: 40%;
}

.hero-image {
  width: 48%;
  max-height: 488px;
}

.hero-image img {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1022px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text {
    width: 100%;
  }
  .hero-image {
    margin-top: 25px;
    width: 100%;
  }
}

@media (max-width: 798px) {
  .hero {
    padding: 42px 0;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-text {
    width: 100%;
    line-height: 1.4;
  }
  .hero-text__title {
    margin: 0 0 6px 0;
    font-size: 24px;
    line-height: 1.2;
    padding-left: 2px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
    line-height: 1.2;
    padding-left: 4px;
    width: 90%;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__item:last-child {
    margin-bottom: 0;
  }
  .hero-list__icon {
    margin-right: 16px;
  }
  .hero-list__text {
    width: 75%;
    font-size: 12px;
    line-height: 1.4;
  }
  .hero-image {
    width: 100%;
    margin-top: 38px;
  }
}

/* ======================================================= */
/* Offer */
.offer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/offer/offer_bg.jpg) no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.offer-block {
  padding: 80px 91px 94px 0;
  background-color: #fff;
  position: relative;
  width: 50%;
}

.offer__title {
  width: 70%;
  font-size: 24px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.offer-form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.offer-form__response {
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  color: green;
  font-size: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.offer-form__title {
  display: block;
  width: 50%;
  font-size: 16px;
}

.offer-form__inputs {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-form__input {
  position: relative;
  width: 240px;
  margin-bottom: 31px;
}

.offer-form__input:first-child {
  margin-right: 14px;
}

.offer-form input {
  width: 100%;
  padding: 20px 24px;
}

.offer-form__button {
  width: 100%;
  margin-bottom: 28px;
  font-size: 16px;
  padding: 25px 0;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.offer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  line-height: 24px;
}

.offer-info__item {
  width: 46%;
}

.offer-info__item:last-child {
  padding-left: 29px;
}

.offer-info__text {
  width: 100%;
}

.offer-info__phone {
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .offer-block {
    padding: 60px 91px 60px 0;
  }
  .offer__title {
    width: 100%;
  }
  .offer-form__title {
    width: 100%;
  }
  .offer-form__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-form__input {
    width: 100%;
    margin-bottom: 15px;
  }
  .offer-form__input:first-child {
    margin-right: 0px;
  }
  .offer-form input:last-child {
    padding-left: 23px;
  }
  .offer-form__button {
    font-size: 13px;
  }
  .offer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offer-info__item {
    width: 100%;
  }
  .offer-info__item:last-child {
    padding-left: 0px;
  }
}

@media (max-width: 1022px) {
  .offer-block {
    padding: 30px 30px 30px 0;
  }
  .offer__title {
    line-height: 30px;
    margin-bottom: 20px;
  }
  .offer-form {
    width: 90%;
  }
  .offer-form__inputs {
    margin-top: 10px;
  }
  .offer-form__title {
    width: 100%;
  }
  .offer-form__button {
    margin-bottom: 20px;
  }
}

@media (max-width: 798px) {
  .offer {
    background: #fff;
  }
  .offer__title {
    font-size: 18px;
    line-height: 1.2;
    padding-right: 5px;
    margin-bottom: 16px;
  }
  .offer-block {
    width: 70%;
    padding: 54px 0px 94px 0;
    margin: auto;
  }
  .offer-form__title {
    font-size: 14px;
  }
  .offer-form__input {
    margin-bottom: 7px;
  }
  .offer-form__button {
    padding: 20px 40px;
    font-size: 14px;
  }
  .offer-info__text {
    width: 90%;
    margin-bottom: 10px;
  }
  .offer label.invalid {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .offer-block {
    width: 100%;
    padding: 48px 0px 38px 0;
  }
  .offer-form {
    width: 99%;
  }
  .offer-form__title {
    margin-bottom: 28px;
  }
  .offer-info {
    width: 94%;
  }
  .offer-info__item {
    width: 97%;
  }
}

/* =========================================================== */
/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  color: #333333;
  position: relative;
  margin: auto;
  max-width: 570px;
  max-height: 674px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 73px 95px 63px 103px;
}

.modal-dialog__title {
  text-align: center;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 35px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.modal-dialog__close:hover {
  cursor: pointer;
  background-color: #ffdb33;
  outline: none;
  border: 1px solid #cca800;
}

.modal-form__subtitle {
  text-align: center;
  display: block;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 46px;
}

.modal-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__input {
  position: relative;
}

.modal-form__input:first-child {
  margin-bottom: 15px;
}

.modal-form__input:last-child {
  margin-bottom: 30px;
}

.modal-form input {
  padding: 19px;
  width: 100%;
}

.modal-form__button {
  width: 100%;
  height: 70px;
  font-size: 16px;
  line-height: 18px;
  padding: 20px;
  margin-bottom: 24px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

.modal-info__text {
  width: 97%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 13px;
}

.modal-info__phone {
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
}

@media (max-width: 798px) {
  .modal-dialog {
    padding: 20px 15px;
    width: 50%;
  }
  .modal-dialog__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .modal-form__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .modal-form__input:first-child {
    margin-bottom: 10px;
  }
  .modal-form__input:last-child {
    margin-bottom: 15px;
  }
  .modal-form input {
    line-height: 20px;
    padding: 12px;
    font-size: 12px;
  }
  .modal-form__button {
    padding: 12px;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .modal-info__text {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 5px;
    width: 70%;
  }
  .modal-info__phone {
    font-size: 14px;
  }
  .modal label.invalid {
    bottom: -10px;
    font-size: 10px;
  }
}

@media (max-width: 620px) and (orientation: landscape) {
  .modal-dialog {
    padding: 30px 30px;
    width: 80%;
  }
  .modal-dialog__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .modal-form__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .modal-form__button {
    padding: 12px;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .modal-info__text {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 5px;
    width: 70%;
  }
  .modal-info__phone {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .modal-dialog {
    padding: 20px 15px;
    width: 80%;
  }
  .modal-dialog__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .modal-form__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .modal-form__input:first-child {
    margin-bottom: 10px;
  }
  .modal-form__input:last-child {
    margin-bottom: 15px;
  }
  .modal-form__button {
    line-height: 20px;
    padding: 12px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .modal-info__text {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    margin-bottom: 5px;
    width: 70%;
  }
  .modal-info__phone {
    font-size: 14px;
  }
  .modal label.invalid {
    bottom: -10px;
    font-size: 10px;
  }
}

/* =========================================================== */
/* Кнопка вверх */
#button-up {
  display: inline-block;
  background-color: #ffd200;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-up:hover {
  cursor: pointer;
  background-color: #ffdb33;
}

#button-up:active {
  background-color: #cca800;
}

#button-up.show {
  opacity: 1;
  visibility: visible;
}

#button-up::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

@media (max-width: 450px) {
  #button-up {
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
  }
  #button-up::after {
    font-size: 1em;
    line-height: 30px;
  }
}

/* =========================================================== */
/* Портфолио слайдер */
.portfolio {
  padding: 85px 0;
  padding-bottom: 95px;
  background: #f5f5f5 url("../img/portfolio/portfolio_pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 75%;
  margin: auto;
  margin-bottom: 91px;
}

.portfolio-slider {
  margin: auto;
}

.portfolio__image {
  margin: auto;
  outline: none;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .portfolio__title {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .slick-slide img {
    width: 95%;
  }
}

@media (max-width: 798px) {
  .portfolio {
    padding: 42px 0;
  }
  .portfolio__title {
    max-width: 75%;
    font-size: 18px;
    line-height: 1.2;
    padding-right: 5px;
    margin-bottom: 16px;
  }
}

@media (max-width: 620px) and (orientation: landscape) {
  .portfolio__arrows {
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  .portfolio {
    background: #f5f5f5;
    padding: 41px 25px 58px 25px;
  }
  .portfolio__title {
    margin: 0;
    padding: 0;
    max-width: 271px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .portfolio-slider {
    max-height: 186px;
  }
  .portfolio__image {
    max-height: 186px;
  }
  .portfolio__arrows {
    margin-top: 46px;
  }
}

/* =========================================================== */
/* Блок Prices */
.prices {
  padding-top: 91px;
  color: #000000;
}

.prices-block {
  text-align: center;
}

.prices__title {
  margin-bottom: 39px;
  max-width: 47%;
  display: inline-block;
}

.prices__subtitle {
  margin-bottom: 47px;
}

.prices-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices-card {
  color: #000000;
  border: 1px solid #e8e8e8;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 43px;
}

.prices-card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.prices-card:hover .prices-card__image::before {
  opacity: 1;
}

.prices-card__image {
  position: relative;
}

.prices-card__image img {
  display: block;
}

.prices-card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.prices-card__text {
  margin-top: 25px;
  margin-bottom: 13px;
  display: block;
  font-size: 18px;
  line-height: 45px;
}

.prices-card__link {
  color: #333333;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  position: relative;
}

.prices-card__link:hover::after {
  height: 12px;
}

.prices-card__link::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .prices__title {
    max-width: 75%;
    margin-bottom: 25px;
  }
  .prices-card {
    width: 32%;
  }
}

@media (max-width: 1022px) {
  .prices-card {
    width: 48%;
  }
  .prices-card__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 798px) {
  .prices {
    padding: 49px 0;
  }
  .prices__title {
    max-width: 90%;
    font-size: 18px;
    line-height: 1.2;
    padding-right: 5px;
    margin-bottom: 16px;
  }
  .prices__subtitle {
    font-size: 16px;
  }
  .prices-card {
    padding-bottom: 25px;
    display: block;
  }
  .prices-card__text {
    font-size: 14px;
    margin-top: 26px;
    margin-bottom: 5px;
  }
  .prices-card__link {
    font-size: 16px;
    line-height: 18px;
    padding-right: 10px;
  }
  .prices-card__link::after {
    width: 92%;
  }
}

@media (max-width: 620px) and (orientation: landscape) {
  .prices {
    padding: 20px 0;
  }
  .prices__title {
    margin-bottom: 0px;
  }
  .prices__subtitle {
    padding-right: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 0px;
  }
  .prices-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .prices-card {
    width: 85%;
    padding-bottom: 15px;
    margin-bottom: 33px;
  }
  .prices-card__text {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .prices-card__link {
    font-size: 16px;
    line-height: 18px;
    padding-right: 10px;
  }
}

@media (max-width: 450px) {
  .prices {
    padding-bottom: 19px;
  }
  .prices__title {
    margin-bottom: 10px;
  }
  .prices__subtitle {
    padding-right: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
  }
  .prices-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .prices-card {
    width: 97%;
    padding-bottom: 30px;
    margin-bottom: 33px;
  }
}

/* =========================================================== */
/* Блок Steps */
.step {
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  position: absolute;
  top: -10px;
  right: -76px;
  width: 72px;
  height: 25px;
  background: url("../img/steps/arrow.png") no-repeat center;
}

.step:last-child::after {
  display: none;
}

.step__image {
  margin: auto;
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.step__text {
  font-size: 14px;
  line-height: 20px;
}

.steps {
  color: #000000;
  padding-bottom: 100px;
}

.steps__title {
  margin: auto;
  margin-top: 122px;
  margin-bottom: 39px;
  max-width: 60%;
}

.steps__subtitle {
  text-align: center;
  margin-bottom: 57px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1200px) {
  .steps__title {
    max-width: 75%;
    margin-bottom: 25px;
    margin-top: 40px;
  }
}

@media (max-width: 1022px) {
  .step::after {
    display: none;
  }
}

@media (max-width: 798px) {
  .steps__title {
    max-width: 90%;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 16px;
    margin-top: 0px;
  }
  .steps__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .step__text {
    font-size: 12px;
  }
  .step__image {
    margin-bottom: 15px;
  }
}

@media (max-width: 450px) {
  .step {
    margin-bottom: 22px;
  }
  .step:first-child {
    margin-bottom: 12px;
  }
  .step:first-child .step__image {
    margin-bottom: 21px;
  }
  .step__image {
    margin: auto;
    margin-bottom: 28px;
  }
  .step__text {
    font-family: "Museo Sans 700", sans-serif;
    font-weight: 700;
    width: 50%;
    font-size: 12px;
    line-height: 16px;
    margin: auto;
  }
  .step::after {
    display: none;
  }
  .steps__title {
    margin: 0;
    max-width: 100%;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .steps__subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 18px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

/* =========================================================== */
/* Блок Brif */
.brif {
  padding-top: 97px;
  padding-bottom: 70px;
  background-image: url("../img/brif/brif_bg_color.jpg"), url("../img/brif/brif_bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brif__interview {
  color: #000000;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 209px;
  text-align: center;
}

.brif__input {
  position: relative;
  height: 66px;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif input {
  width: 100%;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 26px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.interview {
  padding-right: 65px;
}

.interview__title {
  margin-bottom: 43px;
  font-size: 22px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  line-height: 33px;
}

.interview__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 93px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  margin-bottom: 32px;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 34px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
  font-size: 18px;
}

.form__title {
  margin-bottom: 45px;
  font-size: 22px;
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  line-height: 33px;
}

.form__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 47px;
}

.form__describtion {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .brif {
    padding-top: 40px;
    background-size: 50%, auto;
  }
  .brif__form {
    padding-left: 80px;
  }
  .brif__input {
    max-width: 100%;
  }
  .brif__button {
    max-width: 100%;
  }
  .interview {
    padding-right: 30px;
    padding-bottom: 50px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .form__subtitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 798px) {
  .brif {
    background-image: url("../img/brif/brif_bg_color.jpg"), url("../img/brif/brif_bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 44%, cover;
    background-repeat: repeat-x, no-repeat;
    padding-bottom: 40px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    padding-left: 0;
  }
  .brif__input {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }
  .brif__button {
    max-width: 70%;
  }
}

@media (max-width: 450px) {
  .brif {
    background-size: 100% 50%, cover;
    padding-top: 44px;
  }
  .brif__input {
    max-width: 100%;
    margin-bottom: 7px;
  }
  .brif__button {
    max-width: 100%;
    margin-top: 2px;
    font-size: 14px;
  }
  .brif label.invalid {
    width: 100%;
  }
  .interview {
    padding-right: 0;
  }
  .interview__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
    margin-right: 30px;
  }
  .interview__subtitle {
    font-size: 14px;
    margin-bottom: 38px;
    padding-right: 20px;
    max-width: 70%;
  }
  .interview-list__item {
    margin-bottom: 24px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 236px;
  }
  .interview-list__counter {
    margin-right: 8px;
  }
  .form {
    padding: 0;
    padding-top: 50px;
  }
  .form__title {
    margin: auto;
    margin-bottom: 23px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.35px;
    max-width: 100%;
  }
  .form__subtitle {
    font-size: 14px;
    margin-bottom: 34px;
  }
  .form__describtion {
    margin: auto;
    font-size: 14px;
    max-width: 50%;
  }
}

/* =========================================================== */
/* Стили для подвала */
.footer {
  position: relative;
  color: #000000;
}

.map {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.contacts {
  height: 640px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 90px 0 100px 211px;
}

.contacts__title {
  font-family: "Museo Sans 700", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 90px;
  width: 85%;
}

.contacts-list__item {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.contacts-list__icon {
  text-align: center;
  margin-right: 21px;
  margin-top: 5px;
  width: 10%;
}

.contacts-list__text {
  width: 62%;
  font-size: 16px;
  line-height: 26px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1200px) {
  .contacts {
    padding: 50px 0 50px 100px;
  }
  .contacts__title {
    font-size: 20px;
    margin-bottom: 50px;
    width: 100%;
  }
  .contacts-list__text {
    width: 45%;
  }
  .contacts-list__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacts-list__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1022px) {
  .contacts-list__text {
    width: 62%;
  }
}

@media (max-width: 798px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }
  .contacts {
    height: auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 30px 50px 30px 50px;
  }
  .contacts__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .contacts-list__text {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .contacts {
    padding: 53px 0 54px 0;
  }
  .contacts__title {
    line-height: 1.2;
    font-size: 18px;
  }
  .contacts-list__item {
    margin-bottom: 32px;
  }
  .contacts-list__icon {
    margin-right: 6px;
    margin-top: 7px;
  }
  .contacts-list__text {
    font-size: 16px;
    line-height: 26px;
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */